{% extends "base.html" %}

{% block content %}
    
    <center><h1 >Add a Blog Entry</h1></center>
    <form action="/newpost" method="post">
        <label for='title'>Title for your new blog</label>
        <input type="text" name='title' id='title' value='{{blog_title}}' />
        {% if tit_error  %}
            <span class="error">{{tit_error}}</span>
        {%endif%}
        <br>
        <label for='body'>Add your new blog</label>
        <textarea name='body' id='body' rows='5' cols='20'></textarea>
        {% if bod_error  %}
            <span class="error">{{bod_error}}</span>
        {%endif%}
        <br>
        <br>
        <input type="submit" value='Add Entry' />
    </form>
{% endblock %}
   